#my-element{width:850px;
		height: 500px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: white;
  border: 5px solid ;
  border-radius: 10%;
  padding:2px;
	
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; /* Adjust this value to center vertically */
	
}

  .imagel {
    float: left; /* Float the image to the left */
    margin-right: 10px; /* Add some margin between the image and text */
  }
  
    .text {
    overflow: hidden; /* Clear the float */
  }
  
  img{
	width:500;
	border:6px solid gray;
	padding:2px;
}

body{
	background:white;
	font-size:20;
	font-family:David;
	padding:50;
	background-image:  linear-gradient(to right, #ffefba, #ffffff)
	
}

.imager {
    float: right; /* Float the image to the left */
    margin-right: 10px; /* Add some margin between the image and text */
  }
  
  h3{
	  background-color:purple;
	  color:white;
  }


  
  



	

